/*----- Tabs -----*/
.tabs {
	width: 100%;
	display: inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display: block;
	clear: both;
	content: '';
}

.tab-links li {
	margin: 0px 3px;
	float: left;
	list-style: none;
}

.tab-links a {
	text-decoration :none;
	padding: 9px 15px;
	display: inline-block;
	border-radius: 6px 6px 3px 3px;
	background-color: #eee; 
	text-transform : uppercase;
	letter-spacing: 2px;
	font-size: 16px; 
	text-shadow : 0 1px 0 rgba( 0, 0, 0, 0.2);
	
	color: #4c4c4c;
	transition: all linear 0.15s;
	text-transform: uppercase; letter-spacing : 2px; font-size : 13px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	
	font-weight: 600;
}

.tab-links a:hover {
	background: #787878;
	text-decoration: underline;
	font-weight: 800;
}

li.active a, li.active a:hover {
	background: #fff;
	font-weight: 1000;
	font-size:18px;
	color: #4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding: 15px;
	border-radius: 4px;
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.30);
	letter-spacing: 2px;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.5);
	background: #eee;
	font-size: 14px;
}

.tab {
	display: none;
}

.tab.active {
	display: block;
}

.btn-blue {
	
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 8px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	padding: 6px 18px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom-width: 3px;
	background-color: #699DB6;
	border-color: rgba(0, 0, 0, 0.3);
	color: #FFF;
}
.btn-hidden {
	display:hidden;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 8px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	padding: 6px 18px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom-width: 3px;
	background-color: #699DB6;
	border-color: rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.btn-blue:hover {
	background-color: #4F87A2;
	border-color: rgba(0, 0, 0, 0.5);
}

.btn-blue:active {
	background-color: #3C677B;
	border-color: rgba(0, 0, 0, 0.9);
}

.myTable {
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.emrah {
	align: center;
	padding: 9px 15px;
	border-radius: 2px;
	box-shadow: -0 5px 4px rgba(0, 0, 0, 0.10);
	letter-spacing: 2px;
	background-color: #eee;
	text-transform: uppercase;
	font-size: 14px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	font-weight: 500;
	color: #4c4c4c;
	transition: all linear 0.15s;
}
.emrah td{
	box-shadow: -0 5px 4px rgba(0, 0, 0, 0.10);
	font-size: 12px;
	height: 20px;
	align:center;
}
.textbox { 
    border-radius: 9px;
	box-shadow: -2px 5px 4px rgba(0, 0, 0, 0.10);
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    height:20px; 
    width: 350px;
    font-size:13px;
    text-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.5);
    letter-spacing:1px;
  } 


.yarrak {
	align: center;
	border-radius: 1px;
	box-shadow: -0 5px 4px rgba(0, 0, 0, 0.10);
	letter-spacing: 1px;
	background-color: #eee;
	font-size: 12px;
	display:block;
}
.ui-autocomplete.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10px;
   overflow-y: auto;
 overflow-x: hidden;
}
.ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
}