.emrah {
	align: center;
	padding: 9px 15px;
	border-radius: 2px;
	box-shadow: -0 5px 4px rgba(0, 0, 0, 0.10);
	letter-spacing: 2px;
	background-color: #eee;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #4c4c4c;
	transition: all linear 0.15s;
}
.emrah td{
	box-shadow: -0 5px 4px rgba(0, 0, 0, 0.10);
	font-size: 12px;
	height: 20px;
	align:center;
}
.emrah tr{
	box-shadow: -0 5px 4px rgba(0, 0, 0, 0.10);
	font-size: 12px;
	height: 20px;
	align:center;
}